*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 768px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.header-3,
.header-4,
.header-5,
.header-6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #000000;
}

.header-3 {
  font-size: 30px;
  line-height: 36px;
}

.header-4 {
  font-size: 21px;
  line-height: 21px;
}

.header-5 {
  font-size: 16px;
  line-height: 21px;
}

.header-6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  box-shadow: 5px 0px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.main-navigation-item {
  padding: 10px 0;
  max-width: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation-item:nth-child(3) {
  margin-left: auto;
}

.main-navigation-item-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
}

.main-navigation-item-link:hover {
  color: #81b3d2;
}

.main-navigation-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-item-link.current {
  color: #766357;
}

.main-navigation-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.main-navigation-logo:hover {
  transform: scale(1.02, 1.02);
}

.main-navigation-logo:active {
  transform: scale(1.0, 1.0);
}

.main-banner {
  height: 508px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/main-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -82px;
  position: relative;
}

.main-banner::after {
  content: "";
  position: absolute;
  background-image: url("../img/shape-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  bottom: 0;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-lead {
  padding-top: 60px;
  padding-bottom: 53px;
}

.features-title,
.features-subtitle {
  margin: 0;
  max-width: 500px;
  text-align: center;
}

.features-title {
  margin-bottom: 30px;
  line-height: 26px
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.features-item {
  padding-top: 47px;
  padding-bottom: 59px;
  text-align: center;
}

.features-item-lead {
  padding-top: 161px;
  padding-bottom: 81px;
  position: relative;
}

.features-item:nth-child(1) {
  order: 1;
}

.features-item:nth-child(2) {
  order: 7;
}

.features-item:nth-child(3) {
  order: 8;
  width: 33%;
}

.features-item:nth-child(4) {
  order: 9;
  width: 34%;
}

.features-item:nth-child(5) {
  order: 10;
  width: 33%;
}

.features-item:nth-child(6) {
  order: 3;
  width: 33%;
}

.features-item:nth-child(7) {
  order: 4;
  width: 34%;
}

.features-item:nth-child(8) {
  order: 5;
  width: 33%;
}

.features-item:nth-child(9) {
  order: 2;
}

.features-item:nth-child(10) {
  order: 6;
}

.features-item:nth-child(1),
.features-item:nth-child(2) {
  width: 33%;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-item:nth-child(3),
.features-item:nth-child(4),
.features-item:nth-child(5) {
  background-color: #EEEEEE;
}

.features-item:nth-child(1) .header-4,
.features-item:nth-child(2) .header-4 {
  color: #ffffff;
}

.features-item:nth-child(9),
.features-item:nth-child(10) {
  width: 67%;
  background-image: url("../img/place-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.features-item:nth-child(10) {
  background-image: url("../img/place-2.jpg");
}

.features-item:nth-child(6)::before,
.features-item:nth-child(7)::before,
.features-item:nth-child(8)::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: 200px;
}

.features-item:nth-child(6)::before {
  background-image: url("../img/icon-home.svg");
  width: 75px;
  height: 72px;
  margin-left: -37px;
}

.features-item:nth-child(7)::before {
  background-image: url("../img/icon-food.svg");
  width: 74px;
  height: 70px;
  margin-left: -37px;
}

.features-item:nth-child(8)::before {
  background-image: url("../img/icon-gift.svg");
  width: 64px;
  height: 76px;
  margin-left: -32px;
}

.features-item-title,
.features-item-number,
.features-item-subtitle {
  width: 71%;
  margin: 0 auto;
}

.features-item-title {
  width: 40%;
  margin-bottom: 25px;
}

.features-item-number {
  margin-bottom: 20px;
}

.features-item:nth-child(2) .features-item-subtitle {
  width: 78%;
}

.features-item:nth-child(4) .features-item-subtitle {
  width: 68%;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  position: relative;
}

.booking-subtitle {
  margin: 0;
  margin-bottom: 47px;
  line-height: 24px;
  max-width: 440px;
  text-align: center;
}

.booking-title {
  margin-bottom: 24px;
}

.booking-main-button,
.booking-form-button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #766357;
  border: none;
  padding: 30px 0;
  max-width: 568px;
  width: 100%;
  outline: none;
}

.booking-main-button:hover,
.booking-main-button:focus {
  background-color: #604E43;
}

.booking-main-button:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.3);
}

.booking-form-button {
  background-color: #81B3D2;
  padding: 16px 0;
}

.booking-form-button:hover,
.booking-form-button:focus {
  background-color: #669EC0;
}

.booking-form-button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}

.booking-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 568px;
  width: 100%;
  padding: 55px;
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
  position: absolute;
  top: calc(100%);
  z-index: 1;
}

.booking-form-group {
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.booking-form-group-quantity {
  margin-bottom: 54px;
  width: 50%;
}

.booking-label {
  max-width: 112px;
  width: 100%;
}

.booking-label[for="children-quantity"] {
  padding-left: 50px;
}

.booking-input {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;
  padding: 3px 12px;
  width: 100%;
}

.booking-input:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
}

.booking-input:focus {
  background-color: #ffffff;
  border-color: e5e5e5;
  outline: none;
}

.booking-quantity {
  text-align: center;
}

.booking-date::-webkit-inner-spin-button,
.booking-date::-webkit-clear-button {
  display: none;
}

.booking-date::-webkit-calendar-picker-indicator {
  width: 15px;
  height: 15px;
  margin-right: -5px;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  z-index: 1;
}

.booking-date::-webkit-calendar-picker-indicator:hover {
  background: transparent;
  cursor: pointer;
}

.booking-date-calendar {
  width: 21px;
  height: 22px;
  position: absolute;
  right: 10px;
  z-index: 0;
}

.booking-input:hover + .booking-date-calendar path,
.booking-input:hover + .booking-date-calendar rect {
  fill: #000000;
}

.booking-input:active + .booking-date-calendar path,
.booking-input:active + .booking-date-calendar rect {
  fill: #81b3d2;
}

.booking-quantity-group {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.booking-quantity-symbol {
  position: absolute;
  width: 38px;
  height: 38px;
  padding: 13px;
  cursor: pointer;
}

.booking-quantity-plus {
  right: 3px;
}

.booking-quantity-symbol:hover path {
  fill: #000000;
}

.booking-quantity-symbol:active path {
  fill: #81B3D2;
}

.booking-error {
  display: none;
  position: absolute;
}

.map {
  width: 100%;
  height: 473px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.map iframe {
  position: absolute;
  width: 100%;
  height: 473px;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 85px;
}

.footer-item {
  max-width: 232px;
  width: 100%;
  text-align: center;
  position: relative;
}

.footer-visit-link {
  font-size: 21px;
  font-weight: 700;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
}

.footer-visit-link:hover,
.footer-visit-link:focus {
  color: #81b3d2;
  outline: none;
}

.footer-visit-link:active {
  color: #bdbbbc;
}

.social {
  list-style: none;
  display: flex;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669EC0;
  outline: none;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88B6D1;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-link {
  width: 113px;
  height: 39px;
  margin-left: 7px;
}

.footer-logo-link path,
.footer-logo-link rect {
  fill: #000000;
}

.footer-logo-link:hover path,
.footer-logo-link:hover rect,
.footer-logo-link:focus path,
.footer-logo-link:focus rect {
  fill: #81b3d2;
  outline: none;
}

.footer-logo-link:active path,
.footer-logo-link:active rect {
  fill: #bdbbbc;
}
